/*

!.gitignore

# lgsm/

!/lgsm
/lgsm/*

!/lgsm/config-lgsm
/lgsm/config-lgsm/*

!/lgsm/config-lgsm/dodserver
/lgsm/config-lgsm/dodserver/*

!/lgsm/config-lgsm/dodserver/dodserver.cfg

# serverfiles/

!/serverfiles
/serverfiles/*

# serverfiles/dod/

!/serverfiles/dod
/serverfiles/dod/*

!/serverfiles/dod/dodserver.cfg
!/serverfiles/dod/liblist.gam

# serverfiles/dod/addons/

!/serverfiles/dod/addons
/serverfiles/dod/addons/*

# serverfiles/dod/addons/amxmodx/

!/serverfiles/dod/addons/amxmodx
/serverfiles/dod/addons/amxmodx/*

# serverfiles/dod/addons/amxmodx/configs/

!/serverfiles/dod/addons/amxmodx/configs
/serverfiles/dod/addons/amxmodx/configs/*

!/serverfiles/dod/addons/amxmodx/configs/amxx.cfg
!/serverfiles/dod/addons/amxmodx/configs/modules.ini
!/serverfiles/dod/addons/amxmodx/configs/plugins.ini
!/serverfiles/dod/addons/amxmodx/configs/users.ini

# serverfiles/dod/addons/amxmodx/plugins/

!/serverfiles/dod/addons/amxmodx/plugins
/serverfiles/dod/addons/amxmodx/plugins/*

!/serverfiles/dod/addons/amxmodx/plugins/dod_fieldmedic.amxx
!/serverfiles/dod/addons/amxmodx/plugins/dod_fieldmedic_h.amxx
!/serverfiles/dod/addons/amxmodx/plugins/dod_killinfo.amxx
!/serverfiles/dod/addons/amxmodx/plugins/parachute.amxx

# serverfiles/dod/addons/amxmodx/scripting/

!/serverfiles/dod/addons/amxmodx/scripting
/serverfiles/dod/addons/amxmodx/scripting/*

!/serverfiles/dod/addons/amxmodx/scripting/dod_fieldmedic.sma
!/serverfiles/dod/addons/amxmodx/scripting/dod_fieldmedic_h.sma
!/serverfiles/dod/addons/amxmodx/scripting/dod_killinfo.sma
!/serverfiles/dod/addons/amxmodx/scripting/parachute.sma

# serverfiles/dod/addons/metamod/

!/serverfiles/dod/addons/metamod
/serverfiles/dod/addons/metamod/*

!/serverfiles/dod/addons/metamod/plugins.ini

# serverfiles/dod/models/

!/serverfiles/dod/models
/serverfiles/dod/models/*

!/serverfiles/dod/models/parachute.mdl
