/*

!.gitignore

# LGSM

!/lgsm
/lgsm/*

!/lgsm/config-lgsm
/lgsm/config-lgsm/*

!/lgsm/config-lgsm/dodserver
/lgsm/config-lgsm/dodserver/*

!/lgsm/config-lgsm/dodserver/dodserver.cfg

## Server Files

!/serverfiles
/serverfiles/*

### Day of Defeat

!/serverfiles/dod
/serverfiles/dod/*

!/serverfiles/dod/dodserver.cfg
!/serverfiles/dod/liblist.gam

#### Addons

!/serverfiles/dod/addons
/serverfiles/dod/addons/*

##### AMX Mod X

!/serverfiles/dod/addons/amxmodx
/serverfiles/dod/addons/amxmodx/*

###### Configs

!/serverfiles/dod/addons/amxmodx/configs
/serverfiles/dod/addons/amxmodx/configs/*

!/serverfiles/dod/addons/amxmodx/configs/amxx.cfg
!/serverfiles/dod/addons/amxmodx/configs/modules.ini
!/serverfiles/dod/addons/amxmodx/configs/plugins.ini
!/serverfiles/dod/addons/amxmodx/configs/users.ini

!/serverfiles/dod/addons/amxmodx/configs/h4c2r1ds_deaglesmapmanage
/serverfiles/dod/addons/amxmodx/configs/h4c2r1ds_deaglesmapmanage/*

!/serverfiles/dod/addons/amxmodx/configs/h4c2r1ds_deaglesmapmanage/mapchoice.ini
!/serverfiles/dod/addons/amxmodx/configs/h4c2r1ds_deaglesmapmanage/mapstoban.ini
!/serverfiles/dod/addons/amxmodx/configs/h4c2r1ds_deaglesmapmanage/standardmaps.ini

###### Plugins

!/serverfiles/dod/addons/amxmodx/plugins
/serverfiles/dod/addons/amxmodx/plugins/*

!/serverfiles/dod/addons/amxmodx/plugins/h4c2r1ds_deaglesmapmanage.amxx
!/serverfiles/dod/addons/amxmodx/plugins/h4c2r1ds_fieldmedic_h.amxx
!/serverfiles/dod/addons/amxmodx/plugins/h4c2r1ds_killinfo.amxx
!/serverfiles/dod/addons/amxmodx/plugins/h4c2r1ds_parachute.amxx

###### Scripting

!/serverfiles/dod/addons/amxmodx/scripting
/serverfiles/dod/addons/amxmodx/scripting/*

!/serverfiles/dod/addons/amxmodx/scripting/compile.sh

!/serverfiles/dod/addons/amxmodx/scripting/h4c2r1ds_deaglesmapmanage.sma
!/serverfiles/dod/addons/amxmodx/scripting/h4c2r1ds_fieldmedic_h.sma
!/serverfiles/dod/addons/amxmodx/scripting/h4c2r1ds_killinfo.sma
!/serverfiles/dod/addons/amxmodx/scripting/h4c2r1ds_parachute.sma

##### Metamod-r

!/serverfiles/dod/addons/metamod
/serverfiles/dod/addons/metamod/*

!/serverfiles/dod/addons/metamod/plugins.ini

#### Models

!/serverfiles/dod/models
/serverfiles/dod/models/*

!/serverfiles/dod/models/h4c2r1ds_parachute.mdl
